<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="Ultraviolet" version="2018.12.0.3869" targetFramework="net461" />
  <package id="Ultraviolet.BASS" version="2018.12.0.3869" targetFramework="net461" />
  <package id="Ultraviolet.BASS.Native" version="2018.12.0.3869" targetFramework="net461" />
  <package id="Ultraviolet.Core" version="2018.12.0.3869" targetFramework="net461" />
  <package id="Ultraviolet.OpenGL.Bindings" version="2018.12.0.3869" targetFramework="net461" />
  <package id="Ultraviolet.SDL2" version="2018.12.0.3869" targetFramework="net461" />
  <package id="Ultraviolet.SDL2.Native" version="2018.12.0.3869" targetFramework="net461" />
</packages>