<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aether.Physics2D" version="1.4.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net47" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="Ultraviolet" version="2019.3.0.3907" targetFramework="net461" />
  <package id="Ultraviolet.BASS" version="2019.3.0.3907" targetFramework="net461" />
  <package id="Ultraviolet.BASS.Native" version="2019.3.0.3907" targetFramework="net461" />
  <package id="Ultraviolet.Core" version="2019.3.0.3907" targetFramework="net461" />
  <package id="Ultraviolet.Shims.Desktop" version="2019.3.0.3907" targetFramework="net461" />
</packages>